$font-primary: "Times New Roman", Georgia, Serif;
$font-secondary: "Play-fair Display";
$font-family-heading: "Times New Roman",Georgia, Serif ;
$letter-spacing: 5px;
$letter-spacing-heading: 7px;
$letter-spacing-small: 3px;
$button-padding: 15px 32px;
$button-font-size: 16px;
$button-margin: 4px 2px;
$button-border-radius: 12px;
$button-border-width: 2px;
$button-border-color: black;
$button-width: 120px;
$spacing-medium: 3px;
$color-primary: red;
$color-white: white;
$font-size-large: large;
